
.navbar{
    background-color: rgba(0, 0, 0, 0.6);
}


#evento-marca{
    background-color: #EE6220;
    color: #ffffff;
    margin-bottom: 20px;
}

#evento-marca img{
    max-width: 100%;   
}

main{
    margin-top: 90px;
}
h2{
    text-align: center;
}